@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
   
  
</div>

<div class="container">
    <div class="card text-center ">
        <div class="card-header">
             <h1 class="display-6">Hastane Bilgi Sistemi'ne hoşgeldiniz.</h1>
               <p>Daha fazla bilgi için <a target="_blank"
            href="https://github.com/efemesudiyeli/hospitalinformationsystem">adresini ziyaret ediniz.</a>.</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Hasta Kayıtları</h5>
            <p class="card-text">Hastanemizde bulunan tüm hastaların, doktorlar tarafından eklenmiş kayıtları.</p>
            <a asp-area="" asp-controller="Control" asp-action="Index" class="btn btn-primary">Hasta Kayıtlarına Git</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>