@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Hastane Bilgi Sistemi'ne hoşgeldiniz.</h1>
    <p>Daha fazla bilgi için <a target="_blank" href="https://github.com/efemesudiyeli/hospitalinformationsystem">adresinizi ziyaret ediniz.</a>.</p>
</div>
